<!-- IF S_320 -->
	<!-- BEGIN mlap -->
		<!-- IF mlap.S_ICON -->
			<li data-last-responsive="true">
				<a href="{mlap.URL}" title="{mlap.TITLE}" role="menuitem" {mlap.BLANK}>
				<i class="icon {mlap.ICON} fa-fw" aria-hidden="true"></i><span>{mlap.NAME}</span>
				</a>
			</li>
		<!-- ELSE -->
			<li data-last-responsive="true">
				<a href="{mlap.URL}" title="{mlap.TITLE}" {mlap.BLANK}><img class="avatar" src="{mlap.FILE}" width="20" height="20" alt="picture" /><span> {mlap.NAME}</span></a>
			</li>
		<!-- ENDIF -->
	<!-- END mlap -->
<!-- ELSE -->
	<!-- BEGIN mlap -->
		<!-- IF mlap.S_ICON -->
			<li class="small-icon {mlap.ICON} no-bulletin"><a href="{mlap.URL}" title="{mlap.TITLE}" {mlap.BLANK}>{mlap.NAME}</a></li>
		<!-- ELSE -->
			<li class="no-bulletin"><a href="{mlap.URL}" title="{mlap.TITLE}" {mlap.BLANK}><img class="avatar" src="{mlap.FILE}" width="20" height="20" alt="picture" /><span> {mlap.NAME}</span></a></li>
		<!-- ENDIF -->
	<!-- END mlap -->
<!-- ENDIF -->