<!-- IF S_320 -->
	<!-- BEGIN mlpp -->
		<!-- IF mlpp.S_ICON -->
			<li data-last-responsive="true">
				<a href="{mlpp.URL}" title="{mlpp.TITLE}" role="menuitem" {mlpp.BLANK}>
				<i class="icon {mlpp.ICON} fa-fw" aria-hidden="true"></i><span>{mlpp.NAME}</span>
				</a>
			</li>
		<!-- ELSE -->
			<li data-last-responsive="true">
				<a href="{mlpp.URL}" title="{mlpp.TITLE}" {mlpp.BLANK}><img class="avatar" src="{mlpp.FILE}" width="20" height="20" alt="picture" /><span> {mlpp.NAME}</span></a>
			</li>
		<!-- ENDIF -->
	<!-- END mlpp -->
<!-- ELSE -->
	<!-- BEGIN mlpp -->
		<!-- IF mlpp.S_ICON -->
			<li class="small-icon {mlpp.ICON} no-bulletin"><a href="{mlpp.URL}" title="{mlpp.TITLE}" {mlpp.BLANK}>{mlpp.NAME}</a></li>
		<!-- ELSE -->
			<li class="no-bulletin"><a href="{mlpp.URL}" title="{mlpp.TITLE}" {mlpp.BLANK}><img class="avatar" src="{mlpp.FILE}" width="20" height="20" alt="picture" /><span> {mlpp.NAME}</span></a></li>
		<!-- ENDIF -->
	<!-- END mlpp -->
<!-- ENDIF -->